body {
    background: #0a0a0a;
    color: #fffdf7;
  }

  .header1 {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
  }

/* Twitter */
.fa-twitter {
    color: #f75cc9;
    text-decoration: none;
  }